/* Flex Grid */
vendor(prop, args...)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    {prop} args
box-flex(args...)
    -webkit-box-flex: args
    -moz-box-flex: args
    -webkit-flex: args
    -ms-flex: args
    flex: args

*
    vendor("box-sizing", border-box)

.row
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    vendor("flex-wrap", wrap)
    margin: 0 .5em

.col
    box-flex(1)

[class^="col"]
    padding: 0 .5em

/* Column Spans */
.col--2of5
    box-flex(0 0 40%)
.col--1of2
    box-flex(0 0 50%)
.col--3of5
    box-flex(0 0 60%)
.col--2of3
    box-flex(0 0 66%)
.col--3of4
    box-flex(0 0 75%)
.col--4of5
    box-flex(0 0 80%)

.container,
.container-fluid
    position:relative
    margin:0 auto
    padding:0
.container
    max-width:1200px
.container-fluid
    width:100%
.container:after,
.container:before,
.container-fluid:after,
.container-fluid:before
    content:'.'
    display:block
    height:0
    overflow:hidden
    visibility:hidden
    width:0

/* Media queries */
@media (max-width: 500px)
    [class^="col"]
        box-flex(0 0 100%)

