$light = #fff
$border = 2px solid $light

vendor(prop, args...)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    {prop} args
placement(tp, rt, bm, lt)
    top: tp
    right: rt
    bottom: bm
    left: lt



/* 
   SVG hover effect.
   Credit: cssdeck.com/labs/svg-border-hover-effect-1
*/

.dashed
    position: relative
    margin: 25px auto
    width: 320px
    &:hover,
    &:active
        & rect
            stroke-width: 2px
            stroke-dashoffset: 0
            stroke-dasharray: 760
    & rect
        stroke-dasharray: 140 540
        stroke-dashoffset: -474
        stroke-width: 8px
        fill: transparent
        stroke: #19f6e8
        border-bottom: 5px solid black
        vendor("transition", all .5s)
    & span
        position: relative
        top: -46px
        font-family: "Roboto Condensed"
        text-transform: uppercase
        letter-spacing: 8px
        line-height: 32px
        font-size: 20px
        color: #fff





/* 
   Hover transitions.
   Inspired by:
   tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/
*/

// Base before & after transition

$zest-ba(bx, by, ax, ay, time=.5s)
    &::before
        border-top: $border
        border-bottom: $border
        vendor("transform", scale(bx,by))
    &::after
        border-left: $border
        border-right: $border
        vendor("transform", scale(ax,ay))
    &::before,
    &::after
        position: absolute
        placement(0px,0px,0px,0px)
        content: ""
        opacity: 0
        vendor("transition", all time)
    &:hover::before,
    &:hover::after,
    &:active::before,
    &:active::after
        opacity: 1
        vendor("transform", scale(1))

// Base before transition

$zest-b(sc, time=.5s)
    &::before
        position: absolute
        placement(0px,0px,0px,0px)
        border: $border
        content: ""
        opacity: 0
        vendor("transform", scale(sc))
        vendor("transition", all time)
    &:hover::before,
    &:active::before
        opacity: 1
        vendor("transform", scale(1))


// Effects

.zest-outer
    $zest-ba(0,1,1,0)

.zest-target
    $zest-ba(1,0,0,1)

.zest-focus
    $zest-ba(2,1,1,2)

.zest-bounce
    $zest-ba(-1.6,.8,.8,-1.6)

.zest-enclose
    $zest-ba(1,2,2,1)

.zest-expand
    $zest-b(0)

.zest-contract
    $zest-b(1.2)

.zest-corners
    &::before
        border-top: $border
        border-left: $border
        vendor("transform-origin", 0 0)
    &::after
        border-right: $border
        border-bottom: $border
        vendor("transform-origin", 100% 100%)
    &::before,
    &::after
        position: absolute
        placement(0px,0px,0px,0px)
        content: ""
        opacity: 0
        vendor("transform", scale(.05,.05))
        vendor("transition", all .5s)
    &:hover::before,
    &:hover::after,
    &:active::before,
    &:active::after
        opacity: 1
        vendor("transform", scale(1))