@import "flex-grid.styl"
@import "hover-transitions.styl"
$light = #fff
$dark = #141414

vendor(prop, args...)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    {prop} args

@font-face
    font-family: Raleway
    src: url(../fonts/Raleway/Raleway-Light.ttf)


html,
body
    background: $dark
    text-align: center
    height: 100%
    font-family: Raleway
    letter-spacing: 1px
    font-size: 22px
    .col
        text-align: center
        & *
            display: inline-block
            margin: 0 auto
            text-align: center
@media (min-width:501px) and (max-width:620px)
    html,
    body
        font-size: 3.5vw



section
    margin-bottom: 100px
    .title
        margin-bottom: 75px
    .vect svg
        margin-top: 90px
        margin-bottom: 90px
    .rotated
        overflow: hidden
    .box
        position: relative
        display: block
        text-decoration: none
        line-height: 100px
        cursor: pointer
        color: $light
        height: 100%
        width: 100%
        max-width: 200px
        &:hover
            text-decoration: none
            color: $light

section#vectors
    #svg-ruler
        margin: -50px
        vendor("transform", rotate(-70deg))
    #svg-pencil
        margin-top: 50px
        margin-left: -50px
        vendor("transform", rotate(45deg))



