html(lang="en")
  head
    title Robustly
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/index.css" rel="stylesheet")
  body
    section#intro
      .container
        .row
          .col-md-12
            .dashed
              svg(height="60" width="320" xmlns="http://www.w3.org/2000/svg")
                rect(height="60" width="320")
                span Add some Zest
        .row
          .col-md-3
            a.box.zest-outer(href="#") Outer
          .col-md-3
            a.box.zest-xwing(href="#") XWing
          .col-md-3
            a.box.zest-bounce(href="#") Bounce
          .col-md-3
            a.box.zest-corners(href="#") Corners
        .row
          .col-md-3
            a.box.zest-expand(href="#") Expand
          .col-md-3
            a.box.zest-contract(href="#") Contract
          .col-md-3
            a.box.zest-focus(href="#") Focus
          .col-md-3
            a.box.zest-enclose(href="#") Enclose