doctype html

html(lang="en")
  head
    title Modules
    meta(charset="utf-8")
    meta(name="description" content="")
    link(href="css/index.css" rel="stylesheet")
  body
    section#hover-transitions
      .container
        .row
          .col.title
            .liquid
              svg(height="60" width="320" xmlns="http://www.w3.org/2000/svg")
                rect(height="60" width="320")
                span Add some Zest
        .row
          .col: a.box.zest-outer(href="#") Outer
          .col: a.box.zest-target(href="#") Target
          .col: a.box.zest-bounce(href="#") Bounce
          .col: a.box.zest-corners(href="#") Corners
        .row
          .col: a.box.zest-expand(href="#") Expand
          .col: a.box.zest-contract(href="#") Contract
          .col: a.box.zest-focus(href="#") Focus
          .col: a.box.zest-enclose(href="#") Enclose



    section#vectors
      .container
        .row
          .col.title
            .liquid
              svg(height="60" width="320" xmlns="http://www.w3.org/2000/svg")
                rect(height="60" width="320")
                span Vector Magic
      .container-fluid
        .row
          .col.vect: include ./vectors/code.jade
          .col.vect.rotated: include ./vectors/ruler.jade
        .row
          .col.vect.rotated: include ./vectors/pencil.jade
          .col.vect: include ./vectors/server.jade
        .row
          .col.vect: include ./vectors/thr.jade
        .row
          .col.vect: include ./vectors/mac.jade
        .row
          .col.vect: include ./vectors/ipad.jade
          .col.vect: include ./vectors/iphone.jade



    script(src="js/svg-draw.js")