svg#svg-code(width="100%" height="200" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 42")
  g(stroke="#fff" stroke-width="2" fill="none" fill-rule="evenodd")
    path#code-p1(d="M16,6  l-15,15 l15,15")
    path#code-p2(d="M20,40 l10,-38")
    path#code-p3(d="M34,6  l15,15 l-15,15")