svg#svg-ipad(width="100%" height="325" viewbox="0 0 218 325" version="1.1" xmlns="http://www.w3.org/2000/svg")
  g(stroke="#fff" fill="none" fill-rule="evenodd")
    path#ipad-bezel(d="m 204.986 319 l -190.889 0 c -6.635 0 -12.014 -5.37701 -12.014 -12.01 l 0 -292.897 c 0 -6.633 5.378 -12.01 12.014 -12.01 l 190.889 0 c 6.636 0 12.014 5.377 12.014 12.01 l 0 292.897 c 0 6.633 -5.37801 12.01 -12.014 12.01 Z" stroke-width="2")
    path#ipad-screen(d="m 201 286 v-253 h-182 v253 Z")
    path#ipad-lock(d="m 110.021 302.021 m -8 0 a 8 8 0 1 1 16 0 a 8 8 0 1 1 -16 0")
    path#ipad-cam(d="m 108.99 18.99 m -3 0 a 3 3 0 1 1 6 0 a 3 3 0 1 1 -6 0")