svg#svg-iphone(width="100%" height="282" viewbox="0 0 132 282" version="1.1" xmlns="http://www.w3.org/2000/svg")
  g(stroke="#fff" fill="none" fill-rule="evenodd")
    path#iphone-bezel(d="m 131 259.964 c 0 8.83301 -7.191 15.992 -16.062 15.992 l -97.875 0 c -8.871 0 -16.062 -7.159 -16.062 -15.992 l 0 -241.891 c 0 -8.833 7.191 -15.992 16.062 -15.992 l 97.875 0 c 8.87099 0 16.062 7.159 16.062 15.992 l 0 241.891 l 0 0 Z" stroke-width="2")
    path#iphone-screen(d="m 121 237 v-199 h-110 v199 h111")
    path#iphone-speaker(d="m 79 27 q0,2 -2,2 h-20 q-2,0 -2,-2 q0,-2 2,-2 h20 q2,0 2,2")
    path#iphone-camera(d="m 67 14 m -3 0 a 3 3 0 1 1 6 0 a 3 3 0 1 1 -6 0")
    path#iphone-lock(d="m 66.04 256.001 m -10 0 a 10 10 0 1 1 20 0 a 10 10 0 1 1 -20 0")