svg#svg-mac(width="100%" height="300" viewbox="0 0 700 390" version="1.1" xmlns="http://www.w3.org/2000/svg")
  g(stroke="#fff" fill="none" fill-rule="evenodd")
    path#mac-bezel(d="m 74 353.028 l 0 -326.238 c 0 -13.7163 11.5042 -24.7901 25 -24.7901 l 496 0 l 0 0 c 13.5375 0 25 11.0728 25 24.7901 l 0 326.238" stroke-width="2")
    path#mac-shape(d="m 74 704.028 m 567.812 -320.018 l -589.524 0 c -30.647 0 -51.288 -10.516 -51.288 -14.988 l 0 -13.594 c 0 -1.344 1.335 -2.428 2.995 -2.428 l 686.109 0 c 1.66199 0 2.99902 1.084 2.99902 2.428 l 0 14.129 c -0.00701904 3.535 -15.991 14.453 -51.291 14.453 Z" stroke-width="2")
    path#mac-cam(d="m 347 22 m -4 0 a 4 4 0 1 1 8 0 a 4 4 0 1 1 -8 0")
    path#mac-line(d="m 1 370 l 691 0" stroke-linecap="square")
    path#mac-screen(d="m 597.5 333 v-292 h-501 v292 Z")
    path#mac-indent(d="m 422 354 l 0 3.08701 c 0 2.20099 -4.33328 2.86572 -7.61328 2.86572 l -134.571 0 c -3.45099 0 -7.81528 -0.663727 -7.81528 -2.86572 l 0 -3.08701")
