svg#svg-pencil(width="100%" height="400" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 210")
  g(stroke="#fff" stroke-width="1" fill="none" fill-rule="evenodd")
    path#pencil-outline(d="m62,32 v140 l-15,-15 l-15,15 l-15,-15 l-15,15 v-140" stroke-width="3")
    path#pencil-eraser(d="m2,32 h60 v-22 q0,-8 -8,-8 h-44 q-8,0 -8,8 v23" stroke-width="3")
    path#pencil-tip(d="m62.43,174.45 l-30.45,30.45 l-30.45,-30.45" stroke-width="3")
    path#pencil-lead(d="m23,196 q9,-5 18,0")
    path#pencil-p01(d="m17,157 v-125")
    path#pencil-p01(d="m47,32 v125")