svg#svg-ruler(width="100%" height="400" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 210")
  g(stroke="#fff" stroke-width="1" fill="none" fill-rule="evenodd")
    path#ruler-path-01(d="M62,018 h-20")
    path#ruler-path-02(d="M62,032 h-10")
    path#ruler-path-03(d="M62,046 h-10")
    path#ruler-path-04(d="M62,060 h-10")
    path#ruler-path-05(d="M62,074 h-20")
    path#ruler-path-06(d="M62,088 h-10")
    path#ruler-path-07(d="M62,102 h-10")
    path#ruler-path-08(d="M62,116 h-10")
    path#ruler-path-09(d="M62,130 h-20")
    path#ruler-path-10(d="M62,144 h-10")
    path#ruler-path-11(d="M62,158 h-10")
    path#ruler-path-12(d="M62,172 h-10")
    path#ruler-path-13(d="M62,186 h-20")
    path#ruler-circle(d="M18,18 m-4,0 a4,4 0 1,1 8,0 a4,4 0 1,1 -8,0")
    path#ruler-outline(d="M2,2 h60 v200 h-60 v-200" stroke-width="3" stroke-linecap="square")