svg#svg-thr(width="100%" height="120" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 4")
  g(stroke="#fff" stroke-width=".5" fill="none" fill-rule="evenodd")
    path#thr-left(d="m0,1 h65 l5,5")
    path#thr-right(d="m150,1 h-65 l-5,5")
    g(transform="scale(0.040,0.038) translate(1833,12)")
      path#thr-id(fill="none" stroke-width="6" d="m 0 0 c -13.8218 7.1175 -9 37.295 7.9699 28.789 c 14.3361 -7.1822 10 -38.0634 -7.9699 -28.7893 m 85.9846 49.9722 c -8.954 -2.5794 -18.132 -9.5619 -28 -7.4529 c -8.7608 1.8725 -15.2221 10.4912 -19.9715 17.4529 c -12.1457 17.8 -15.8701 39.182 -27.6959 57 c -3.7376 5.63 -9.2167 16.439 -16.3318 18.225 c -11.363 2.854 -4.7149 -18.815 -3.6266 -23.225 l 10.777 -41 c 1.456 -5.3756 4.91 -12.3392 3.527 -17.9853 c -1.232 -5.0315 -8.0347 -8.669 -12.6774 -10 c -10.6131 -3.0533 -13.0579 22.0406 -14.8851 29 l -10.5401 43 c -1.4948 6.805 -4.17756 15.032 -2.0617 21.996 c 7.41 24.387 42.8287 13.185 50.4861 -3.996 l 2 0 c 4.162 13.034 19.7831 21.654 33 16.867 c 7.337 -2.657 12.748 -8.515 19 -12.867 c 1.963 3.752 4.48 6.255 8 8.64 c 23.356 15.824 40 -6.82401 50.718 -25.64 c 2.882 -5.058 12 -16.785 9.01 -22.852 c -2.83299 -5.721 -9.28800 -1.738 -11.763 1.871 l -20.254 30.966 c -3.016 3.36301 -9.049 8.872 -12.532 2.891 c -4.608 -7.912 2.41 -24.688 4.448 -32.876 l 15.797 -59 c 2.53 -9.097 7.847 -20.4943 7.47701 -29 c -0.269 -6.917 -14.41 -16.4504 -19.9 -9.686 l -5 14.68 l -9 34 Z")
      path#thr-ddot(fill="#111" stroke-width="5" d="m 63 60 c -5.3709 2 -8.715 8.5225 -11.22 13.2423 c -7.0299 13.234 -12.3689 28.204 -14.8615 43 c -1.082 6.422 -1.9754 21.459 9.0803 18.471 c 5.8012 -1.56799 9.7922 -7.809 12.9702 -12.471 c 8.8 -12.904 13.31 -31.759 16.224 -47 c 1.447 -7.5582 -1.679 -18.9916 -12.191 -15.2423 Z")

